main {
    [data-registry-option] {
        max-width: 55rem;
        margin: 0 auto;

        form {
            display: inline-flex;
            flex-direction: column;
        }

        [data-table] {
            all: revert;
            border: 1px solid var(--registry-gray);
            margin: 0 1rem;
            padding: 0 1rem;
            display: grid;
            align-items: center;
            grid-template-columns: fit-content(250px) repeat(3, 1fr) fit-content(250px);
            gap: 1rem 2rem;
            color: var(--registry-gray);
            border-radius: 6px;
            max-height: 70vh;
            overflow-y: auto;

            legend {
                all: revert;
                font-size: 1.3rem;
            }

            span {
                text-align: center;
            }

            header {
                grid-column: span 5;
                display: grid;
                grid-template-columns: fit-content(250px) repeat(3, 1fr) fit-content(250px);
                position: sticky;
                top: 0;
                background-color: #ecf0f5c9;
                backdrop-filter: blur(5px);
            }

            h4 {
                text-align: center;
            }

            [data-line-break] {
                grid-column: span 5;
                border-bottom: 1px solid;
            }

            [data-line-break]:last-of-type {
                display: none;
            }

            footer {
                position: sticky;
                bottom: 0;
                grid-column: span 4;
            }
        }
    }
}