@model i7MEDIA.Plugin.Widgets.Registry.Models.RegistryPartialViewModel

@{
    Layout = "";
}

<!link rel="stylesheet" href="..\..\..\Plugins\i7MEDIA.Plugin.Widgets.Registry\Areas\Admin\Styles\Tabs\registry.css" />

<div>Registry Partial</div>