@using i7MEDIA.Plugin.Widgets.Registry.Models.ViewModels
@model RegistrySettingsViewModel

@{
    Layout = "";
}

<!link rel="stylesheet" href="..\..\..\Plugins\i7MEDIA.Plugin.Widgets.Registry\Areas\Admin\Styles\Tabs\settings.css" />
<fieldset>
    <legend>Registry Settings</legend>
    <main>
        <section>
            <label>Product Key</label>
            <input data-settings-product-key type="text" placeholder="Enter Product Key..." value="@Model.ProductKey" class="form-control text-box single-line" />
        </section>
    </main>
    <footer>
        <input data-settings-submit type="button" value="Save" class="btn btn-success" />
    </footer>
</fieldset>