@using i7MEDIA.Plugin.Widgets.Registry
@model i7MEDIA.Plugin.Widgets.Registry.Models.AdminViewModel

@{
    var version = Model.PluginVersion;
    var registryRoute = Url.RouteUrl(AdminDefaults.Registry);
    var consultantRoute = Url.RouteUrl(AdminDefaults.Consultant);
    var TypeRoute = Url.RouteUrl(AdminDefaults.RegistryType);
    var shippingRoute = Url.RouteUrl(AdminDefaults.RegistryShipping);
}

<!link rel="stylesheet" href="/Plugins/i7MEDIA.Plugin.Widgets.Registry/Areas/Admin/Styles/index.css?v=@version" />

<!script type="module">
    import {init} from '/Plugins/i7MEDIA.Plugin.Widgets.Registry/Areas/Admin/Scripts/index.js?v=@version';

    init('@registryRoute', '@consultantRoute', '@TypeRoute', '@shippingRoute');
</!script>

<header data-registry-admin-header>
    <nav>
        <button type="button">Search Registries</button>
        <button type="button">Consultants</button>
        <button type="button">Types</button>
        <button type="button" data-nav-shipping>Shipping Options</button>
    </nav>
</header>
<main data-registry-admin-main>

</main>
<footer data-registry-admin-footer hidden>
    <button class="btn btn-success" type="button">Save</button>
    <button class="btn btn-danger" type="button">Cancel</button>
</footer>