:root {
  --text: #555;
  --black: #000;
  --white: #fff;
  --border: #ddd;
  --gray-dark: #434343;
  --gray-light: #c5c5c5;
  --blue-link: blue;
  --loading: #c5c5c573;
  --danger: var(--red, #e75f5f);
  --success: var(--tan, #d1cbc3);
}

::backdrop {
  background-color: var(--gray-dark, #434343);
  opacity: .8;
}

body:has(dialog[open]) {
  overflow: hidden !important;
}

.registry-wrapper {
  min-height: 30rem;
  height: 50vh;
  border: 1px solid var(--border, #434343);
  margin: 2rem auto;
  user-select: none;

  >header {
    display: flex;
    justify-content: space-between;
    padding: .5rem 1rem;
    border-bottom: 1px solid var(--border, #434343);
  }

  hr {
    width: 95%;
    border: none;
    border-bottom: 1px solid var(--border);
    margin: 1rem auto;
  }

  button,
  a {
    outline: none;
    border: none;
    background-color: var(--danger);
    border-radius: 6px;
    color: var(--white);
    padding: .7rem 1rem;
    text-transform: uppercase;
  }

  input,
  textarea {
    outline: none;
    border-radius: 4px;
  }

  input[type="date"] {
    height: 36px;
    border: 1px solid #ddd;
    padding: 8px;
    vertical-align: middle
  }

  section[data-result] {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(4, 1fr) min-content;
    gap: .5rem;
    margin: 1rem;
    color: var(--gray-dark, #434343);

    &>span {
      color: var(--text);
      font-size: 1.2rem;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      &:nth-last-child(-n+5) {
        border: none;
      }
    }

    .row-action {
      display: flex;
      justify-content: flex-end;
      gap: 1rem;

      a[data-invert] {
        color: var(--danger);
        border: 1px solid var(--danger);
        background-color: transparent;
      }
    }
  }

  [data-search] {
    display: inline-flex;
    border-bottom: 1px solid var(--border);
    overflow: hidden;

    input[type="text"] {
      border: none;
    }

    button[type="submit"] {
      border: none;
      background-color: var(--border);
      color: var(--white);
      padding: 0 1rem;
    }
  }

  [data-modal-add] {
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    outline: none;
    border: none;
    padding: 1rem;
    overflow: hidden;
    user-select: none;
    box-shadow: 3px 3px 15px var(--gray-dark);
    transform: translate(-50%, -50%);

    header {
      padding: 0 0 1rem;
      font-size: 1.5rem;
    }

    main {
      display: flex;
      flex-direction: column;
      flex: 1;
      gap: 1rem;
      width: clamp(250px, 45vw, 650px);

      section {
        display: flex;
        flex-direction: column;
        gap: .2rem;
      }
    }

    footer {
      display: flex;
      flex-direction: row-reverse;
      padding: 1rem 0 0;
    }
  }

  .registry-list {
    display: flex;
  }
}

.round {
  border-radius: 6px;
}