:root {
  --white: #fff;
  --border: #ddd;
  --gray-dark: #434343;
  --gray-light: #c5c5c5;
  --blue-link: blue;
  --loading: #c5c5c573;
}

::backdrop {
  background-color: var(--gray-dark, #434343);
  opacity: .8;
}

input[type="number"] {
  outline: none;
  border-radius: 4px;
  border: 1px solid var(--border);
  padding: 1rem;
}

time {
  font-size: .7rem;
  opacity: .8;
  font-style: italic;
}

.btn-register {
  padding: 0.75rem;
  border: none;
  background-color: transparent;
  color: var(--gray-dark);
}

.info-ico {
  position: absolute;
  font-size: 1rem;
  color: var(--gray-light);
  border: 1px solid;
  padding: .6rem;
  border-radius: 50%;
  height: 10px;
  width: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  top: .3rem;
  right: .3rem;

  &::after {
    content: "\2139";
  }
}

[data-registry-select] {
  font-size: 14px;
  position: fixed;
  outline: none;
  border: none;
  padding: 1rem;
  overflow: hidden;
  user-select: none;
  box-shadow: 3px 3px 15px var(--gray-dark);

  border-radius: 6px;

  main {
    >form {
      min-width: 30vw;
      display: flex;
      flex-direction: column;
      gap: 1rem;

      section[data-radio] {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 1rem;

        button {
          border: 1px solid var(--border);
          background-color: var(--white);
          color: var(--gray-dark);
          text-align: center;
          border-radius: 6px;
          padding: 0;
          min-width: 30%;
          /* for info icon placement */
          position: relative;
          flex: 0 0;

          &:has(input:checked) {
            color: var(--white);
            background-color: var(--red, --gray-light);
          }
        }

        label {
          display: flex;
          flex-direction: column;
          justify-content: center;
          padding: 1.5rem 1rem 1rem;
        }

        input[type="radio"] {
          position: fixed;
          opacity: 0;
        }
      }

      section[data-quant] {
        display: flex;
        flex-direction: column;
        gap: 1rem;
      }
    }
  }

  footer {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    margin-top: 1rem;
  }

  button {
    outline: none;
    border: none;
    border: 1px solid var(--red);
    color: var(--red);
    padding: .7rem 1rem;
    text-transform: uppercase;
    background-color: transparent;

    &[data-submit] {
      background-color: var(--red);
      color: var(--white);
    }
  }

  &[open] {
    display: flex;
    flex-direction: column;
  }
}