<dialog class="round" data-modal-add>
    <header>
        Create a New Registry!
    </header>
    <main>
        <section>
            <label>Name</label>
            <input data-add-name type="text" name="name" />
        </section>
        <section>
            <label>Description</label>
            <input data-add-description type="text" name="name" />
        </section>
        <section>
            <label>Event Date</label>
            <input data-add-event-date type="date" name="name" />
        </section>
    </main>
    <footer>
        <button data-registry-save class="button-1">Save</button>
    </footer>
</dialog>