<dialog>
    <header>Filters</header>
    <main>
        <section>
            <label>Date To/From</label>
            <input type="date">
            <input type="date">
        </section>
        <section>
            <label></label>
        </section>
    </main>
</dialog>