@model i7MEDIA.Plugin.Widgets.Registry.Models.RegistryGiftReceiptViewModel
@using i7MEDIA.Plugin.Widgets.Registry

@{
    Layout = "";

    var printPdfRoute = Url.RouteUrl(RegistryDefaults.PrintGiftReceipt);
    var fileName = Model.FileName;
    var orderId = Model.OrderId;
    var path = Model.PluginPath;
    var version = Model.Version;
}

<style>
    [data-registry-print-gift-reciept] {
        margin-right: 1rem;
    }
</style>

<script type="module">
    import { SaveAsFile, GetFile } from '@path/modules/utils.js?v=@version';

    const
        container = document.querySelector('.order-details-page .controls'),
        btn = document.querySelector('[data-registry-print-gift-reciept]'),
        pdfDownloadUrl = `@printPdfRoute/@orderId`;

    container?.prepend(btn);

    btn.addEventListener('click', async () => {

        const { success, data, error } = await GetFile(pdfDownloadUrl);

        if (!success) {
            alert(error);
            return;
        }

        SaveAsFile(data, '@fileName');
    }) 
</script>

<button type="button" data-registry-print-gift-reciept class="btn btn-primary pdf-order-button">Gift Receipt</button>