@using i7MEDIA.Plugin.Widgets.Registry
@model i7MEDIA.Plugin.Widgets.Registry.Models.RegistryModel

@{
    Layout = "_Root";

    var version = Model.PluginVersion;
    var registrySearchRoute = Url.RouteUrl(RegistryDefaults.List);
    var baseRoute = Url.RouteUrl(RegistryDefaults.Index);
    var insertRoute = Url.RouteUrl(RegistryDefaults.Insert);
}

<!link rel="stylesheet" href="/Plugins/i7MEDIA.Plugin.Widgets.Registry/Areas/Public/Styles/index.css?v=@version" />

<!script type="module">
    import {init} from '/Plugins/i7MEDIA.Plugin.Widgets.Registry/Areas/Public/Scripts/index.js?v=@version';

    init('@registrySearchRoute', '@insertRoute');
</!script>

<div data-registry class="registry-wrapper">
    <form data-search>
        <input type="text" autocomplete="off" name="q" placeholder="Search registries" aria-label="Search registries">
        <button type="submit">Search</button>
    </form>
    <button data-add type="button">New</button>
    <section data-result>
    </section>

    <dialog data-modal-add>
        <header>
            Create a New Registry!
        </header>
        <main>
            <section>
                <label>Name</label>
                <input data-add-name type="text" name="name" />
            </section>
            <section>
                <label>Description</label>
                <input data-add-description type="text" name="name" />
            </section>
            <section>
                <label>Event Date</label>
                <input data-add-event-date type="date" name="name" />
            </section>
        </main>
        <footer>
            <button data-registry-save class="button-1">Save</button>
        </footer>
    </dialog>
</div>