@using i7MEDIA.Plugin.Widgets.Registry
@using i7MEDIA.Plugin.Widgets.Registry.Models.ViewModels
@model ListViewModel

@{
    Layout = "_Root";

    var userName = Model.UserName;
    var version = Model.PluginVersion;
    var registrySearchRoute = Url.RouteUrl(RegistryDefaults.List);
    var baseRoute = Url.RouteUrl(RegistryDefaults.Index);
    var insertRoute = Url.RouteUrl(RegistryDefaults.Insert);
    var updateRoute = Url.RouteUrl(RegistryDefaults.Update);
    var deleteRoute = Url.RouteUrl(RegistryDefaults.Delete);
    var deleteItemRoute = Url.RouteUrl(RegistryDefaults.DeleteItem);
    var getRoute = Url.RouteUrl(RegistryDefaults.Get);
    bool? isRegistered = Model.IsRegistered ? true : null;
}

<!link rel="stylesheet" href="/Plugins/i7MEDIA.Plugin.Widgets.Registry/Areas/Public/Styles/index.css?v=@version" />

<!script type="module">
    import {init} from '/Plugins/i7MEDIA.Plugin.Widgets.Registry/Areas/Public/Scripts/index.js?v=@version';

    init('@registrySearchRoute', '@insertRoute', '@deleteRoute', '@getRoute', '@updateRoute', '@userName', '@deleteItemRoute');
</!script>

<div data-registry class="registry-wrapper round">
    <header>
        <form data-search>
            <input type="text" autocomplete="off" placeholder="Search Registries..." aria-label="Search registries" autofocus>
            <i class="fal fa-search" title="Search by Name, Date, Month or by Person"></i>
            <i data-search-mine title="View my Registries"></i>
        </form>
        <button data-add data-is-registered="@isRegistered" type="button">Create New Registry</button>
    </header>
    <section data-result>
        <h2>Perform a Search to See Results...</h2>
    </section>

    @await Html.PartialAsync("_AddDialog.cshtml", Model)
    @await Html.PartialAsync("_RegistryNotification.cshtml")
</div>

@await Html.PartialAsync("_Loading.cshtml")