@inherits Nop.Web.Framework.Mvc.Razor.NopRazorPage<TModel>

<script type="module">
    const
        link = document.querySelector('[data-link]'),
        clone = link.content.cloneNode(true),
        nav = document.querySelector('.header .header-links ul');

    nav.prepend(clone);
</script>

<template data-link>
    <li>
        <a href="/registry">
            <span class="register-icon">
                <i class="fal fa-gift"></i>
            </span>

            <span> @T("Registry.Link")</span>
        </a>
    </li>
</template>
