<template data-registry-notify-template>
    <style>
        [data-registry-notify] {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 4rem;
            gap: 2rem;
            padding: 1rem;
            position: fixed;
            bottom: 2rem;
            left: 2rem;
            border-radius: .5rem;
            min-height: 10rem;
            min-width: 30rem;
            box-shadow: 0 5px 10px #000000a3;
            overflow: hidden;
            opacity: 0;
            z-index: 1000000000;
            color: var(--red);
            background-color: var(--white);
            border-block: 1px solid;
            border-inline: 1rem solid;

            main {
                padding: .5em;
                font-size: .5em;
            }

            i {}
        }
    </style>
    <div data-registry-notify>
        <i class="fal fa-gift"></i>
        <main></main>
        <i class="fal fa-gift"></i>
    </div>
</template>