::backdrop {
    backdrop-filter: blur(2px);
}

dialog {
    border: none;
    border-radius: 6px;
    color: var(--grey-black, #2f2f30);
    user-select: none;

    &[open] {
        display: flex;
        flex-direction: column;
    }
}

input {
    outline: none;
    border-radius: 4px;
    border: 1px solid var(--grey-black, #2f2f30);
    padding: 1rem;
}

i {
    cursor: pointer;
}

[data-registry-admin-header] {
    user-select: none;
    position: sticky;
    top: 0;
    text-align: center;
    padding: 1rem 0;
    font-size: 1.5rem;
    backdrop-filter: blur(5px);
    z-index: 1;

    nav {
        display: flex;
        justify-content: space-around;
        gap: 1rem;

        button {
            border: none;
            background-color: transparent;
            border-bottom: 1px solid;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    }
}

[data-registry-admin-main] {
    margin: 1rem;
    user-select: none;
}

[data-registry-admin-footer] {
    position: sticky;
    bottom: 0;
    padding: 1rem;
    display: flex;
    flex-direction: row-reverse;
    gap: 1rem;
    backdrop-filter: blur(5px);
    z-index: 1;
}

[data-dialog-edit] {
    min-width: 25vw;
    min-height: 25vh;

    header {
        display: flex;
        flex-direction: row-reverse;
        font-size: 1.3rem;
    }

    footer {
        display: flex;
        flex-direction: row-reverse;
        margin-top: 1rem;
    }
}

[data-success] {
    color: var(--success, #4db806);
}