::backdrop {
    backdrop-filter: blur(2px);
}

[data-registry-admin-header] {
    user-select: none;
    position: sticky;
    top: 0;
    text-align: center;
    padding: 1rem 0;
    font-size: 1.5rem;
    backdrop-filter: blur(5px);
    z-index: 1;

    h3 {}

    nav {
        display: flex;
        justify-content: space-around;

        button {
            border: none;
            background-color: transparent;
            border-bottom: 1px solid;
        }
    }
}

[data-registry-admin-main] {
    margin: 1rem;
    min-height: 200vh;
    user-select: none;
}

[data-registry-admin-footer] {
    position: sticky;
    bottom: 0;
    padding: 1rem;
    display: flex;
    flex-direction: row-reverse;
    gap: 1rem;
    backdrop-filter: blur(5px);
    z-index: 1;
}